certifi==2024.2.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
idna==3.6
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
pip==24.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
setuptools==68.2.0
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.1
wheel==0.41.2
XlsxWriter==3.2.0
